
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.section-cart {
    padding: 70px 0 90px;
}

.section-cart__header {
    margin-bottom: 40px;
    text-align: center;
}
.cart-title {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
}

.cart-header {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    column-gap: 30px;

    padding: 22px 0;
    background-color: #EAEFF2;

    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.cart-header__title {
    grid-column-start: 2;
}

.cart-product {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    column-gap: 30px;

    padding: 20px 0;
    border-bottom: 1px solid rgba(126, 155, 189, 0.3);

    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;      
}

.cart-footer {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    column-gap: 30px;

    padding: 19px 0;
    background: #EAEFF2;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}
.cart-footer__count {
    grid-column-start: 3;   
}

@media (max-width: 600px) {
    .cart-footer{
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: 1fr 1fr;
    }
    .cart-footer__count{
        grid-column-start: 1;
    }
    .cart-header {
        height: 1px;
        padding: 0;
    }
    .cart-product { grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(60px, auto);
        column-gap: 15px;
        row-gap: 10px;
    }
}

@media (max-width: 400px) {
    .cart-footer{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}




