.blendContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px ;
}

.blendName{
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: hsl(21, 62%, 45%);
    margin: 2rem auto 1.5rem auto;
}

.blendTitle {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: hsl(209, 34%, 30%);
    text-shadow: 2px 3px 4px  hsl(21, 73%, 87%);
    margin: 3rem auto 2rem auto;
    font-size: 2.5rem;
  }

.containerBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 800px ;
    margin: 0 auto 2rem auto;
}
.leftBlock{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 60%;
}
.rightBlock{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: stretch;
    max-width: 40%; 
}
.blendImage{
    display: flex;
}
.imageBlend{
    max-width: 500px;
    min-width: 200px;
    max-height: 500px;
    border-radius: 0.25rem;
}
.blendSource{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    color: hsl(210, 22%, 49%);
}

.blendDescription{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
    color: hsl(209, 27%, 38%);
    min-height: 250px;
    line-height: 2;
    padding-left: 1rem;
}

.Delete{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btnBlend{
    background-color: hsl(21, 86%, 14%);
    color: hsl(0, 3%, 93%);
    padding: 5px;
    border: none;
    border-radius: 0.25rem;
    min-width: 200px;
    line-height: 2;
    margin: 0;
}
.btnBlend:hover{
    background-color:  hsl(21, 48%, 35%);
    color: hsl(209, 61%, 16%);
}

.showMore{
    background-color: hsl(0, 3%, 93%);
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: hsl(209, 61%, 16%);
}

.showMore:hover{
    text-decoration: none;
    color: hsl(209, 33%, 35%);
}
